/* Dimensioni box */
.width-30p{
  width: 30%;
}

.width-40p{
  width: 40%;
}

.width-50p{
  width: 50%;
}

.width-60p{
  width: 60%;
}

.width-70p{
  width: 70%;
}



.height-100{
  height: 100px;
}

.height-200{
  height: 200px;
}
.height-350{
  height: 350px;
}

.height-400{
  height: 400px;
}

.height-500{
  height: 500px;
}

.height-650{
  height: 650px;
}

.height-700{
  height: 700px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container{
  width: 60%;
  margin: 0 auto;
}

.container-large{
  width: 70%;
  margin: 0 auto;
}


header > hr,{
  border: none;
  height: 2px;
  background-color: #738491;
}

.row::after{
  content: '';
  clear: both;
  display: table;
}

.col{
  float: left;
}

.col-right{
  float: right;
}

.bg-hero-head{
  height: 800px;
  position: relative;
}

.img-extender{
  width: 40%;
  height: 3.8vw;
  position: absolute;
  border-top: 2.5px solid rgb(51,71,92);
  background-color: #AFEBE4;
  left: 0;
  bottom: 0;
}

.bg-hero-head-cloud{
  background-image: url('img/hero-clouds.svg');
  background-color: #FFF2EE;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: right;
}

.bg-hero-head{
  background-image: url('img/hero-bg.svg');
  background-position: right bottom;
  background-size: 60%;
  /* background-size:cover; */
  background-repeat: no-repeat;
  /* background-color: #FFF2EE; */
  padding-top: 90px;
}

.bg-hero-head .row .col h1{
    color: #33475B;
    font-size: 75px;
    margin-bottom: 40px;
}

.bg-hero-head .row .col > p{
    color: #33475B;
    font-size: 25px;
    margin-bottom: 40px;
}

.bg-hero-head .row .col p:last-child{
    color: #33475B;
    font-size: 18px;
    margin-top: 40px;
}

.bg-login{
  background-color: #F4F9FD;
}

.bg-features-row-top{
  background-color: #F4F9FD;
}

.bg-features-row-center{
  background: linear-gradient(45deg, #00a4bd, #00bda5);
}

.bg-footer{
  background-color: #32495B;
}
.hero-divisory{
  border: 4px solid #33475B;
  border-left: 0;
  border-right: 0;
  background-color: #AFEBE4;
}

.login-bar div{
  line-height: 100px;
  font-size: 20px;
  color: #32495B;
}

.login-bar span:last-child{
  margin-left: 20px;
}

#b-login{
  background-color: white;
  border: 1px solid #FE775A;
  border-radius: .1875rem;
  font-size: 20px;
  color: #FE775A;
  padding: 10px 20px;
  margin-right: 20px;
  margin-left: 20px;
}

#b-get-free{
  background-color: #FE775A;
  border: 1px solid #FE775A;
  border-radius: .1875rem;
  font-size: 20px;
  color: white;
  padding: 10px;
}

#b-get-free-2, #b-learn, #b-learn-feat{
  background-color: #FE775A;
  border: 1px solid #FE775A;
  border-radius: .1875rem;
  font-size: 25px;
  color: white;
  padding: 25px 50px;
  margin-bottom: 20px;
}

#b-learn-feat{
  font-size: 18px;
  padding: 15px 30px;
  position: absolute;
  bottom: -4%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#b-hs-sup{
  background-color: lightgrey;
  border: none;
  color: #32495b;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
  display: block;
}

.box-center{
  background-color: white;
}

.box-center > div{
  text-align: center;
}

.login-bar .col-right i{
  color: #0AA7BF;
}

input[type="button"]:hover{
  cursor: pointer;
  opacity: 0.5;
}

.bg-nav .row .col{
  line-height: 100px;
}

.bg-nav .row .col > img{
  max-height: 100%;
  width:130px;
  vertical-align: middle;
}

.bg-nav .row .col li{
  display: inline-block;
}

.bg-nav .row .col li a{
  display: inline-block;
  text-decoration: none;
  color: #32495B;
  font-size: 1vw;
  margin-right: 10px;
}

.centering-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cube{
  width: 20%;
}

#book{
  width: 50%;
}

.bg-features-row-top .box-top{
  text-align: center;
  color: #32495B;
}

.bg-features-row-top .box-top h1{
  font-size: 40px;
  margin: 40px 0;
}

.bg-features-row-top .box-top p{
  font-size: 25px;
  margin-bottom: 30px;
}

.features-row-bottom{
  background-color: #FFFFFF;
}

.box-bottom .col{
  width: calc(90% / 3);
}

.features-row-top .box-bottom .col:nth-child(2){
  margin-left: 5%;
  margin-right: 5%;
}

.features-row-top .box-center ul li{
  display: inline-block;
  text-decoration: none;
}

.features-row-top .box-center .col:last-child{
  color: #32495B;
  text-align: left;
}

/* centrare testo verticalmente con h1 o p ??? */
.features-row-top .box-center .col:last-child h2{
  padding: 40px 0 20px 0;
}

.features-row-top .box-center .col:last-child h3{
  padding: 20px 0;
  display: inline-block;
}

.features-row-top .box-center .col:last-child p{
  font-size: 20px;
  padding: 20px 150px 20px 0;
}

.features-row-top .box-center .col:last-child li{
  font-size: 20px;
  padding: 20px 30px 20px 0;
}

.features-row-top .box-center .col:last-child li i{
  color: #FE775A;
  padding-right: 10px;
}

.bg-features-row-top .box-center{
  margin: 2% 0 5% 0;
  box-shadow: 3px 3px 3px #E8EDF3, -3px -3px 3px #E8EDF3;
}

/* centrare hr a linea del h3 ??? */

#hr-special{
  display: inline-block;
  width: 70%;
  background-color: #A1A9AC;
  border: none;
  height: 3px;
  margin-left: 40px;
}

.bg-features-row-top{
  padding-bottom: 2%;
}

.bg-features-row-top .features-row-top .box-bottom .col{
  position: relative;
  border-radius: .1875rem;
  background-color: white;
  box-shadow: 3px 3px 3px #E8EDF3, -3px -3px 3px #E8EDF3;
}

.bg-features-row-top .features-row-top .box-bottom .col img{
  margin-bottom: 7%;
}

.bg-features-row-top .features-row-top .box-bottom .col img ~ *{
  text-align: center;
  margin: auto;
  color: #32495B;
}

.bg-features-row-top .features-row-top .box-bottom .col > p{
  font-size: 20px;
  padding: 10%;
  padding-bottom: 0;
}
/* dovevo dividere in più bocchi fissi la colonna!!! */
.bg-features-row-top .features-row-top .box-bottom .col:last-child p{
  font-size: 18.5px;
  padding: 10%;
  padding-bottom: 0;
}

.bg-features-row-top .features-row-top .box-bottom .col ul{
  list-style-type: none;
  text-align: left;
  margin-top: 10%;
}

.bg-features-row-top .features-row-top .box-bottom .col ul li i{
  padding-left: 10%;
  padding-right: 5%;
  color: #FE775A;
}

.bg-features-row-top .features-row-top .box-bottom .col hr{
  width: 80%;
  background-color: #A1A9AC;
  border: none;
  height: 2px;
  margin: 15% auto 10% auto ;
}

.bg-features-row-center{
  position: relative;
}

.bg-features-row-center > .row{
  text-align: center;
  color: white;
  padding: 3% 0;
}

.bg-features-row-center > .row h1{
  font-size: 37px;
  padding-bottom: 2%;
}

.bg-features-row-center > .row p{
  font-size: 16px;
  line-height: 180%;
}

.table-row{
  height: 50%;
  width: 70%;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}

.first-table-row, .second-table-row{
  height: 50%;
}

.col-table-item{
  position: relative;
}

/* def row item cell */
.cell-item{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.cell-item .row{
  margin: 5% 0;
}

.cell-item .row:first-child img{
  max-width: 100%;
  height: 35px;
  margin-bottom: 8%;
}

.cell-item .row:nth-child(2){
  font-size: 30px;
}

.cell-item .row:last-child{
  font-size: 15px;
  margin-top: 15%;
}

.first-table-row .col, .second-table-row .col{
  width: calc(100% / 4);
  height: 100%;
  border-right: 1px solid white;
}

.first-table-row .col{
  border-bottom: 1px solid white;
}

.first-table-row .col:last-child, .second-table-row .col:last-child{
  border-right: none;
}

/* ?? */
.features-row-bottom .col-spe {
  max-width: 100%;
  padding: 5% 6%;
  text-align: left;
  color: #32495B;
}

.bg-features-row-bottom .features-row-bottom .row > .col h2{
  font-size: 50px;
  margin-bottom: 15%;
}

.bg-features-row-bottom .features-row-bottom .row > .col p{
  font-size: 18px;
  line-height: 30px;
}

.bg-features-row-bottom .features-row-bottom .row .col:last-child{
  position: relative;
}

.gallery-logo{
  position: absolute;
  top: 15%;
  padding-left: 15%;
  text-align: 50%;
}

.gallery-logo img{
  display: inline-block;
  width: calc(90% / 4);
  padding: 20px;
  vertical-align: middle;
}

.bg-features-row-bottom .features-row-bottom .row:last-child{
  color: #32495B;
  position: relative;
}

.bg-features-row-bottom .features-row-bottom .row:last-child h1{
  margin-bottom: 6%;
}

.bg-features-row-bottom .features-row-bottom .row:last-child p{
  font-size: 16px;
  margin-bottom: 6%;
}

.bg-features-row-bottom .features-row-bottom .row:last-child p:last-child{
  font-size: 14px;
  margin: 6% 0;
}

.bg-features-row-bottom .features-row-bottom .row:last-child img{
  position: absolute;
  top: -24%;
  right: 0;
}

footer .row .col{
  width: calc(80% / 4);
  margin-right: calc(20% / 3);
}

footer ul{
  text-decoration: none;
  list-style-type: none;
  color: #CBD6D9;
}

footer ul li{
  margin: 10% 0;
  font-size: 17px;
}

footer ul li:first-child{
  font-size: 20px;
  color: white;
}

footer .row div:last-child{
  margin-right: 0;
}

footer .list-logos-footer li{
  display:inline-block;
  margin-right: 10%;
  margin-top: -10%;
}

footer .list-lang-footer{
  text-align: center;
}

footer .list-lang-footer li{
  display: inline-block;
  margin: 5% 1% 2% 1%;
}

footer .list-lang-footer li:first-child{
  color: #CBD6D9;
}

footer .bg-footer > .row{
  position: relative;
}

footer .footer-bottom div{
  margin-top: 2%;
  display: inline-block;
  color: #CBD6E2;
}

footer .footer-bottom-right{
  position: absolute;
  right: 0;
  bottom: 30%;
}

.footer-bottom-right > span{
  margin-right: 25px;
}
