/* Dimensioni box */
.width-100p{
  width: 100%;
}

.width-50p{
  width: 50%;
}
.width-60p{
  width: 60%;
}

.width-40p{
  width: 40%;
}

.width-30p{
  width: 30%;
}

.width-15p{
  width: 15%;
}

.height-50p{
  height: 50%;
}
.height-100{
  height: 100px;
}

.height-200{
  height: 200px;
}
.height-350{
  height: 350px;
}

.height-400{
  height: 400px;
}

.height-500{
  height: 500px;
}

.height-600{
  height: 600px;
}

.height-700{
  height: 700px;
}

.height-800{
  height: 800px;
}

.height-1500{
  height: 1500px;
}

/* bordi */
.border-solid{
  border: 1px solid black;
}

/* background */
.bg-red{
  background-color: red;
}
.bg-green{
  background-color: green;
}
.bg-blue{
  background-color: blue;
}
.bg-white{
  background-color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 60%;
  margin: 0 auto;
}


header > hr,{
  border: none;
  height: 2px;
  background-color: #738491;
}

/* .row, .box-bottom inserire */
.row::after{
  content: '';
  clear: both;
  display: table;
}

.col{
  float: left;
}

.col-right{
  float: right;
}

.bg-hero-head{
  background-image: url('img/hero-bg.svg');
  background-position: right bottom;
  background-size: 60%;
  background-repeat: no-repeat;
  background-color: #FFF2EE;
}

.bg-hero-head .row .col h1{
    color: #33475B;
    font-size: 50px;
}

.bg-login{
  background-color: #F4F9FD;
}

.bg-features-row-top{
  background-color: #F4F9FD;
}

.bg-features-row-center{
  background: linear-gradient(45deg, #00a4bd, #00bda5);
}

.bg-footer{
  background-color: #32495B;
}
.hero-divisory{
  border: 4px solid #33475B;
  border-left: 0;
  border-right: 0;
  background-color: #AFEBE4;
}
.font-Avenir{
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.login-bar div{
  line-height: 100px;
  font-size: 20px;
  color: #32495B;
}

.login-bar span:last-child{
  margin-left: 20px;
}

#b-login{
  background-color: white;
  border: 1px solid #FE775A;
  border-radius: .1875rem;
  font-size: 20px;
  color: #FE775A;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

#b-get-free{
  background-color: #FE775A;
  border: 1px solid #FE775A;
  border-radius: .1875rem;
  font-size: 20px;
  color: white;
  padding: 10px;
}

.login-bar .col-right i{
  color: #0AA7BF;
}

input:hover{
  cursor: pointer;
}

.bg-nav .row .col{
  line-height: 100px;
}

.bg-nav .row .col > img{
  max-height: 100%;
  width:130px;
  vertical-align: middle;
}

.bg-nav .row .col li{
  display: inline-block;
}

.bg-nav .row .col li a{
  display: inline-block;
  text-decoration: none;
  color: #32495B;
  font-size: 20px;
  margin-right: 10px;
}

.features-row-bottom{
  background-color: #FFFFFF;
}

.box-bottom .col{
  width: calc(90% / 3);
}

.features-row-top .box-bottom .col:nth-child(2){
  margin-left: 5%;
  margin-right: 5%;
}

/* .features-row-top .box-top, .box-center, .box-bottom{
  margin: 30px 0;
} */

footer .row .col{
  width: calc(60% / 4);
  margin-right: calc(40% / 3);
}

footer .row div:last-child{
  margin-right: 0;
}

footer hr{
  margin-top: 80px;
}
